<template>
    <div>
        <template v-for="co in chunked">
            <div class="row">
                <template v-for="(d,index) in co">
                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <img class="card-img-top img-thumbnail"
                                 :src="d.photos | url"
                                 :alt="d.name"
                                 style="background-size: cover">
                            <div class="card-body">
                                <div class="row d-flex">
                                    <h5 class="card-title p-2"><a :href="'/collection/'+d.id">{{ d.name}}</a></h5>

                                    <div class="dropdown ml-auto p-2">
                                        <a data-toggle="dropdown" href="#">
                                                    <span>
                                                        <i class="fa fa-ellipsis-h"
                                                           v-if="!deletingCollection[index]"></i>
                                                        <i class="fa fa-spin fa-spinner text-danger" v-else></i>
                                                    </span>
                                        </a>
                                        <ul class="ps-link-list dropdown-menu left" role="menu"
                                            aria-labelledby="dLabel">
                                            <li>
                                                <a
                                                    class="pr-2 ps-link ps-link--secondary ps-link--icon-left-md modal-btn disable-close-button"
                                                   href="#" @click.prevent="editModal(d.id)">
                                                    <span>
                                                                <i class="fa fa-pencil"></i>
                                                            </span>
                                                    Quick Edit</a></li>
                                            <li>
                                                <a class="ps-link ps-link--secondary ps-link--icon-left-md js-confirm-submit"
                                                   href="#"
                                                   @click.prevent="deleteCollection(d.id,index)">
                                                            <span>
                                                                <i class="fa fa-trash"></i>
                                                            </span>
                                                    Delete Collection</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <p class="card-text d-flex justify-content-between">
                                    <small class="text-muted">{{ d.date| dateformat}}</small>
                                    <small class="text-muted">{{ d.photos_count}} photos</small>
                                    <small class="text-muted">Published</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="editCollection" tabindex="-1" role="dialog"
                         aria-labelledby="editCollection" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form v-on:keyup.enter="updateCollection">
                                        <!--Label: Give your Collection a name, Attributes: name-->
                                        <div class="form-group  ">
                                            <label for="name">Give your Collection a name</label>
                                            <div>
                                                <input type="text" class="form-control" name="name"
                                                       id="name" placeholder="e.g Jessie & Ryan" autofocus
                                                       :class="{ 'is-invalid' : errors.name }" autocomplete="off"
                                                       v-model="name"
                                                >
                                                <div class="invalid-feedback" v-if="errors.name">
                                                    {{ errors.name.toString() }}
                                                </div>
                                            </div>
                                        </div>
                                        <!--Label: What is the date of the event?, Attributes: eventdate-->
                                        <div class="form-group  ">
                                            <label for="eventdate">What is the date of the event?</label>
                                            <div>
                                                <input type="date" class="form-control" name="eventdate"
                                                       id="eventdate" placeholder="Pick a Date"
                                                       :class="{ 'is-invalid' : errors.eventdate }" autocomplete="off"
                                                       v-model="eventdate"
                                                >
                                                <div class="invalid-feedback" v-if="errors.eventdate">
                                                    {{ errors.eventdate.toString() }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5 pull-right">
                                            <!--<a href="">Cancel</a>-->
                                            <button type="button" class=" btn btn-primary"
                                                    @click.prevent="updateCollection">
                                                Update
                                                <i :class="{'fa fa-spin fa-spinner' : savingCollection}"></i>
                                            </button>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "index",
        moment,
        props: {
            collections: {},
        },

        data() {
            return {
                coll: this.collections,
                deletingCollection: [],
                errors: '',
                name: '',
                eventdate: '',
                id: '',
                savingCollection: ''
            }
        },
        methods: {
            deleteCollection(id, index) {
                Vue.set(this.deletingCollection, index, true);
                axios.delete('/collection/' + id).then(resp => {
                    Vue.set(this.deletingCollection, index, false);
                    this.coll.splice(index, 1);
                }).catch(err => {
                    Vue.set(this.deletingCollection, index, false);
                });
            },
            editModal(id) {
                axios.get('/api/getCollection/' + id).then(resp => {
                    console.log(resp.data.name);
                    this.name = resp.data.name;
                    this.id = resp.data.id;
                    this.eventdate = resp.data.date;
                    $('#editCollection').modal('show')

                }).catch(err => {

                });
            },
            updateCollection() {
                this.savingCollection = true;
                axios.patch('/collection/' + this.id, this.$data).then(resp => {
                    this.savingCollection = false;
                    window.location.reload();
                }).catch(err => {
                    this.savingCollection = false;
                });
            }
        },
        filters: {
            dateformat: function (value) {
                return moment(value, "YYYY-MM-DD").format('LL');
            },
            url(value) {
                if (value.length > 0) {
                    return `https://mutisya.s3.us-east-2.amazonaws.com/${value[0].path}`;

                } else {
                    return "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwmwFjX7A6Q2BHQqTx_TJcspoMsjkrsZlWHD4W2HZlC7Ck2OsxNg";
                }
            }
        },
        computed: {
            chunked() {
                return _.chunk(this.coll, 3);
            },
        },
        created() {
            Bus.$on('createdCollection', resp => {
                this.coll.push(resp);
            });
        }
    }
</script>

<style scoped>

</style>
