<template>
    <div>
        <div v-if="photos.length > 0">
            <transition name="fadeLeft">
                <div>
                    <div class="row d-flex" style="border-bottom: 1px solid #eee">
                        <div class="col-xs-6 title p-2">
                            <h1 class="inline"><span class="secondary">Photos</span></h1>
                        </div>
                        <div class="col-xs-6 ml-auto p-2">
                            <div class="">

                                <a href="">
                                    <button class="btn btn-primary btn-sm " id="add-photo-button"
                                            @click.prevent="addphotos">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <gallery :images="images" :index="index" @close="index = null"></gallery>
                        <div
                            class="image"
                            v-for="(image, imageIndex) in images"
                            :key="imageIndex"
                            @click="index = imageIndex"
                            style="width:300px; height: 200px"
                            :style="{ backgroundImage: 'url(' + image + ')' }"
                        ></div>
                    </div>
                </div>
            </transition>
        </div>
        <div v-else>
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                          v-on:vdropzone-complete-multiple="finishedUpload"
                          v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-error="failed"></vue-dropzone>
        </div>

        <div>
            <!-- Modal -->
            <div class="modal fade" id="uploadphotos" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Upload Photos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                          v-on:vdropzone-success-multiple="finishedUpload"
                                          v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import VueGallery from 'vue-gallery';
    import 'lightgallery.js/dist/js/lightgallery.js';
    import * as toastr from 'toastr'

    export default {
        name: "showcollection",
        props: {
            collection: {},
            photos: {},
        },
        components: {
            vueDropzone: vue2Dropzone,
            'gallery': VueGallery
        },
        data() {
            return {
                addnew: false,
                dropzoneOptions: {
                    url: '/uploadPhoto',
                    thumbnailWidth: 150,
                    maxFilesize: 50,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> UPLOAD PHOTOS OR DRAG THEM HERE",
                },
                images: [],
                index: null
            }
        },
        methods: {
            sendingEvent(file, xhr, formData) {
                formData.append('collection', this.collection);
            },
            addphotos() {
                $('#uploadphotos').modal('show')
            },
            clickedPhotos(photoID) {
                alert(photoID);
            },
            finishedUpload(response) {
                console.log(response);
                window.location.reload();
            },
            failed(file, message, xhr) {

                toastr.error(message.message);
                console.log(message.message);
            }
        },
        computed: {
            chunked() {
                return _.chunk(this.photos, 3);
            }
        },
        mounted() {
            this.images = _.map(this.photos, function (o) {
                return 'https://mutisya.s3.us-east-2.amazonaws.com/watermarked/' + o.path;
            });


        }
    };
</script>

<style scoped>
    @import "~lightgallery.js/dist/css/lightgallery.css";
    @import "~toastr/build/toastr.css";
    /* Container needed to position the button. Adjust the width as needed */
    .pichaclick-image {
        position: relative;
        /*width: 50%;*/
    }

    /* Make the image responsive */
    .pichaclick-image img {
        /*width: 100%;*/
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 5px;
    }

    /* Style the button and place it in the middle of the pichaclick-image/image */
    .pichaclick-image .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        /*padding: 12px 24px;*/
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .pichaclick-image .btn:hover {
        background-color: blue;
    }

    .image {
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        /*background-position: center center;*/
        border: 1px solid #ebebeb;
        margin: 5px;
    }
</style>
<!--MPESA ACCESS TOKEN: g1HA96EkFptTYfQ5fRyUNuANYVvu-->
